{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-bottom:100px">
    {% if not cart %}
    <div>
        <h1 class="text-center">Cart is empty</h1>
    </div>
    <div>
        <strong><a href="{% url 'shop:allProdCat' %}">Continue shopping</a></strong>
    </div>
    {% else %}
    <div class="row mx-auto">
        <h1 style="width:100%;">Shopping cart</h1>

        <div class="col-sm-6">
            <table class="table table-bordered">
                <tr>
                <th colspan="5">
                    YOUR ITEMS
                </th>
                {% for i in cart %}
                <tr>
                <td><img src="{{i.products.image.url}}" style="hieght:150px;width:150px"></a></td>
                <td>{{i.products.name}}</td>
                <td>{{i.products.id}}<br>
                 Unit Price:{{i.products.price}}<br>
                quantity:{{i.quantity}}*{{i.products.price}}<br>

                </td>
                <td>{{i.subtotal}}</td>
                {% if i.quantity < i.products.stock %}
                <td><a href="{% url 'cart:add_to_cart' i.products.id %}"><i class="fa-solid fa-plus"></i></a></td>
                <td><a href="{% url 'cart:decreaser' i.products.id %}"><i class="fa-solid fa-minus"></i></a></td>
                <td><a href="{% url 'cart:delete' i.products.id %}"><i class="fa-solid fa-trash"></i></a></td>
                </td>
                 {% else %}
                 <td><a href="{% url 'cart:decreaser' i.products.id %}"><i class="fa-solid fa-minus"></i></a></td>
                <td><a href=""><i class="fa-solid fa-trash"></i></a></td>
                {% endif %}

            </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    <div class="col-sm-6">
        <table class="table">
            <tr>
            <th colspan="5">Checkout</th></tr>
            <tr>
                <th>TOTAL PRICE:{{total}}</th>
            </tr>

        </table>
         <a href="{% url 'shop:allProdCat' %}"><button class="btn btn-outline-success" href="">CONTINUE SHOPPING</button></a>
        <button id="rzp-button1">Pay with Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_2voTrBZq69eFuI",
    "amount": 10000, // 100 INR in paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "order_IluGWxBm9U8zJ8", // Replace with the actual order ID
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature);
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "example@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
    alert(response.error.code);
    alert(response.error.description);
    alert(response.error.source);
    alert(response.error.step);
    alert(response.error.reason);
    alert(response.error.metadata.order_id);
    alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
};
</script>


</script>
    </div>
</div>
</div>
{% endblock %}
